<main>
  <video autoplay loop muted="muted" playsinline controlslist="nodownload" id="video-fondo">
    <source src="assets/video/Felinowebcreator-Video.mp4" type="video/mp4">
  </video>

  <div class="container" style="height: 758px;">
    <div class="align-items-center">
      <h2 class="text-start">Tu web a medida<div class="color-diferent">Tu éxito asegurado</div></h2>
      <p>Páginas web que rugen de creatividad y funcionalidad.</p>
    </div>
    <div class="beneficios">

    </div>
  </div>

  <nosotros-component> </nosotros-component>

</main>
