<div class="precios">
  <div class="container">
    <header>
      <h1>
        Elije el plan que más se adapte a tus necesidades
      </h1>
      <nav>
        <ul>
          <li>Mensual</li>
          <li>Anual</li>
        </ul>
      </nav>
    </header>
    <div class="row justify-content-evenly">
      <div class="col-12 col-md-6 col-lg-4">
        <section class="card">
          <div class="card-body">
            <img src="assets/icon/landing-page.png" loop="3" alt="landing Page">
            <h1>Langind Page</h1>
            <h2 class="precio">MX$ 650.00</h2>
            <p>MXN / mes</p>
            <br>
            <ul>
              <li>Dominio gratuito</li>
              <li>Diseño a medida</li>
              <li>Diseño adapatable a todos los dispositivos</li>
              <li>Maxima velocidad de navegación</li>
            </ul>
            <button>PRECIO O COTIZACION</button>
          </div>
        </section>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <section class="card">
          <div class="card-body">
            <img src="assets/icon/web-page.png" loop="3" alt="Web Page">
            <h1>Web Page</h1>
            <h2 class="precio">MX$ 750.00</h2>
            <p>MXN / mes</p>
            <br>
            <ul>
              <li>Dominio gratuito</li>
              <li>Diseño a medida</li>
              <li>Maxima velocidad de navegación</li>
              <li>Hasta 10 subpaginas</li>
              <li>Diseño adapatable a todos los dispositivos</li>
            </ul>
            <button>PRECIO O COTIZACION</button>
          </div>
        </section>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <section class="card">
          <div class="card-body">
            <img src="assets/icon/e-commerce.png" loop="3" alt="e-commerce">
            <h1>E-commerce</h1>
            <h2 class="precio">MX$ 850.00</h2>
            <p>MXN / mes</p>
            <br>
            <ul>
              <li>Dominio gratuito</li>
              <li>Diseño a medida</li>
              <li>Maxima velocidad de navegación</li>
              <li>Hasta 15 subpaginas</li>
              <li>Diseño adapatable a todos los dispositivos</li>
            </ul>
            <button>PRECIO O COTIZACION</button>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
