<section class="servicios">

  <div class="container">
    <div class="row">

      <div class="d-flex my-5 text-start">
        <img src="assets/img/diseno-de-respuesta.png" alt="">
        <div class="service">
          <h2>Landing Pages que <div class="naranja">Conquistan.</div></h2>
          <p>Diseñamos Landing Pages cautivadoras que convierten visitantes en clientes. Desde el primer clic hasta la acción deseada, creamos experiencias web irresistibles para tu marca.</p>
        </div>
      </div>
      <div class="d-flex my-5 text-end">
        <div class="service">
          <h2>Potencia tu Presencia Digital con <div class="naranja">Aplicaciones Excepcionales.</div></h2>
          <p>Desarrollamos aplicaciones web personalizadas que llevan la innovación y la funcionalidad al siguiente nivel. Desde la planificación hasta la implementación, cada línea de código está diseñada para elevar tu marca.</p>
        </div>
        <img src="assets/img/backend.png" alt="">
      </div>
      <div class="d-flex my-5 text-start">
        <img src="assets/img/estrategia-de-contenido.png" alt="">
        <div class="service">
          <h2>Estrategias Digitales que <div class="naranja">Resplandecen.</div></h2>
          <p>Impulsa tu presencia en línea con nuestras estrategias de marketing digital. Desde las redes sociales hasta las campañas personalizadas, elevamos tu marca, conectamos con tu audiencia y generamos resultados tangibles.</p>
        </div>
      </div>

    </div>
  </div>

</section>
